.menu-open-bg {
	pointer-events: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(toRem(6));
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	.menu-open & {
		opacity: 1;
	}
}

.button {
	border-radius: toRem(18);
	border: var(--border);
	background: var(--bg-primary);
	box-shadow: var(--box-shadow);
	padding: toRem(10);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: toRem(57);
	transition:
		transform 0.2s,
		box-shadow 0.2s;
	will-change: transform, box-shadow;

	@media (any-hover: hover) {
		&:hover {
			transform: translate(toRem(-4.5), toRem(3.5));
			box-shadow: none;
		}
		&:hover span {
			letter-spacing: 0.03em;
		}
	}

	// @include adaptiveValue('min-height', 57, 56);

	span {
		font-family: var(--font-family-sec);
		font-weight: 800;
		line-height: 81.309%; /* 19.514px */
		text-transform: uppercase;
		font-size: toRem(24);
		transition: letter-spacing 0.2s;
		will-change: letter-spacing;
	}
}

.button-white {
	border-radius: toRem(30);
	border: var(--border);
	background: #fff;
	box-shadow: var(--box-shadow);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: toRem(10);
	transition:
		transform 0.2s,
		box-shadow 0.2s;
	will-change: transform, box-shadow;

	@include adaptiveValue('min-width', 379, 320, 2, $containerWidth, 991.98);
	@include adaptiveValue('min-width', 379, 240, 3, 991.98, 320);
	@include adaptiveValue('min-height', 88, 72, 2, $containerWidth, 991.98);
	@include adaptiveValue('min-height', 88, 42, 3, 991.98, 320);

	@media (any-hover: hover) {
		&:hover {
			transform: translate(toRem(-4.5), toRem(3.5));
			box-shadow: none;
		}
		&:hover span {
			letter-spacing: 0.03em;
		}
	}

	span {
		color: #000;
		text-align: center;
		font-family: var(--font-family-sec);
		font-weight: 800;
		line-height: 81.309%; /* 32.524px */
		text-transform: uppercase;
		font-size: toRem(40);
		transition: letter-spacing 0.2s;
		will-change: letter-spacing;

		@include adaptiveValue('font-size', 40, 32, 2, $containerWidth, 991.98);
		@include adaptiveValue('font-size', 40, 20, 3, 991.98, 320);
	}
}

.title-block {
	position: relative;
	z-index: 2;
	font-family: var(--font-family-sec);
	font-weight: 800;
	line-height: 81.309%; /* 52.038px */
	text-transform: uppercase;
	font-size: toRem(64);
}
.run-row-text {
	border: var(--border);
	background-color: #141414;
	@include adaptiveValue('padding-top', 20, 10);
	@include adaptiveValue('padding-bottom', 20, 10);

	// .run-row-text__line
	&__line {
		display: flex;
	}
	// .run-row-text__row
	&__row {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		column-gap: toRem(30);
		animation: line-text 30s linear infinite;
	}
	// .run-row-text__text
	&__text {
		color: #fae12d;
		text-align: center;
		font-family: var(--font-family-sec);
		font-weight: 800;
		line-height: 140%; /* 50.4px */
		text-transform: uppercase;
		font-size: toRem(36);
		white-space: nowrap;
		@include adaptiveValue('font-size', 36, 16);
		// .run-row-text__text--white
		&--white {
			color: #fff;
		}
	}
}

.hidden-title {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
}
