//Infinite========================================================================================================================================================
@keyframes line-text {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes ab-it-1 {
	0% {
		transform: rotate(-12.551deg);
	}
	100% {
		transform: rotate(2.551deg);
	}
}
@keyframes ab-it-2 {
	0% {
		transform: rotate(50.35deg);
	}
	100% {
		transform: rotate(36.35deg);
	}
}
@keyframes ab-it-3 {
	0% {
		transform: rotate(28.32deg);
	}
	100% {
		transform: rotate(42.32deg);
	}
}
@keyframes ab-it-4 {
	0% {
		transform: rotate(10.54deg);
	}
	100% {
		transform: rotate(24.32deg);
	}
}

@keyframes light {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(0);
	}
}

// Watcher========================================================================================================================================================
// HERO
@keyframes from-left-hero {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(-100%, 0);
	}
	25% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0%, 0);
	}
}

@keyframes fall {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100vh) scaleY(1.2);
	}
	85% {
		opacity: 1;
		visibility: visible;
		transform: translateY(5vh) scaleY(0.8);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0) scaleY(1);
	}
}

@keyframes op {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes car {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(50%, -10%) scale(0.4);
	}
	30% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0%, 0%) scale(1);
	}
}

@keyframes ft {
	0% {
		transform: translate(0, -50%);
		opacity: 0;
		visibility: hidden;
	}
	100% {
		transform: translate(0, 0%);
		opacity: 1;
		visibility: visible;
	}
}
@keyframes fl {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(-40%, 0);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0%, 0);
	}
}
@keyframes fr {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(40%, 0);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0%, 0);
	}
}
@keyframes attend-pers {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translate(-95%, -40%) scale(0.5);
	}
	20% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translate(0%, 0%) scale(1);
	}
}
@keyframes carpet {
	0% {
		transform: translate(20%, 10%) scale(0.7);
		opacity: 0;
		visibility: hidden;
	}
	20% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		transform: translate(0%, 0%) scale(1);
		opacity: 1;
		visibility: visible;
	}
}

//LIBRARY========================================================================================================================================================

// Нові анімації від скролу

// Анімування прозорості по скролу
/*
opacity: 0.2;
animation: text;
animation-timeline: view();
animation-fill-mode: forwards;
animation-range: cover 20% cover 30%;
*/

//========================================================================================================================================================
// З сайта Peshi бігаючі собаки, зміщення по Х від скролу

/*
.tik-tok::before {
	animation-fill-mode: forwards;
	    will-change: right;
		animation-name: scroll;
	    animation-timeline: view();
	    animation-range: entry 0 cover 60%;
}

@keyframes scroll {
	0% {
		right: 0;
	}
	100% {
		right: 45%;
	}
}
	*/

//========================================================================================================================================================
// Виліт із прижком три напрямки серія

/*
@keyframes to-top {
	0% {
		transform: translate(0, 50%);
		opacity: 0;
		visibility: hidden;
	}
	20% {
		opacity: 1;
		visibility: visible;
	}
	80% {
		transform: translate(0, -5%);
		opacity: 1;
		visibility: visible;
	}
	100% {
		transform: translate(0, 0%);
		opacity: 1;
		visibility: visible;
	}
}
*/
/*
@keyframes from-right {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
	}
	20% {
		opacity: 1;
		visibility: visible;
	}

	80% {
		opacity: 1;
		visibility: visible;
		transform: translateX(-5%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
}
*/
/*
@keyframes from-left {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-100%);
	}
	20% {
		opacity: 1;
		visibility: visible;
	}

	80% {
		opacity: 1;
		visibility: visible;
		transform: translateX(5%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
}
*/

//========================================================================================================================================================
// Падіння зверху з ефектом плющеня

/*
&._watcher-view img {
			animation: fall 0.35s ease 0.3s forwards;
		}

@keyframes fall {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100vh) scaleY(1.2);
	}
	85% {
		opacity: 1;
		visibility: visible;
		transform: translateY(5vh) scaleY(0.8);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0) scaleY(1);
	}
}
	@keyframes fall {
		0% {
			transform: translateY(-100vh) scaleY(1.2) scaleX(1);
		}
		85% {
			transform: translateY(5vh) scaleY(0.8) scaleX(1.1);
		}
		100% {
			transform: translateY(0) scaleY(1) scaleX(1);
		}
	}
*/

//========================================================================================================================================================
// З сайту Chompy виліт заголовку з-за картки треба гратись із z-index

/*
@keyframes from-back {
	0% {
		transform: translate(0, 200%) scale(.8);
		z-index: -1;
	}
	80% {
		transform: translate(0, -30%) scale(.95);
		z-index: -1;
	}
	90% {
		transform: translate(0, 0) scale(1);
	}
	95% {
		transform: translate(0, 4%);
		z-index: 1;
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
		z-index: 1;
		opacity: 1;
	}

}
*/

// Хвилі чомпі
/*

@keyframes wawes {
	0% {
		transform: translateX(0) skewX(-15deg);
	}
	
	50% {
		transform: translateX(10%) skewX(15deg);
	}
	100% {
		transform: translateX(0) skewX(-15deg);
	}
}
*/

//Еффект викочування зліва========================================================================================================================================================
/*
animation: wheel 0.8s ease-in-out 0.4s forwards;
@keyframes wheel {
	0% {
		transform: translateX(-100vw) rotate(-1080deg);
	}

	100% {
		transform: translateX(0) rotate(0);
	}
}
*/
