@font-face {
	font-family: 'HK Grotesk Wide';
	font-display: swap;
	src: url('../fonts/HKGroteskWide-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'HK Grotesk Wide';
	font-display: swap;
	src: url('../fonts/HKGroteskWide-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'HK Grotesk Wide';
	font-display: swap;
	src: url('../fonts/HKGroteskWide-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'HK Grotesk Wide';
	font-display: swap;
	src: url('../fonts/HKGroteskWide-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
