@font-face {
	font-family: 'GoodDog New';
	font-display: swap;
	src: url('../fonts/GoodDog New.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'MUSASHI';
	font-display: swap;
	src: url('../fonts/MUSASHI.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Revue';
	font-display: swap;
	src: url('../fonts/Revue.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
