//  ROOT ========================================================================================================================================================
:root {
	// Site colors (Кольори сайту):
	// =================================================================

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #080017; // BG primary background color - (Основний фоновий колір сайту)
	// --bg-secondary: #7678ed; // BG secondary background color - (Додатковий фоновий колір сайту)
	// --bg-accent: #4cc9f0; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #fff; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: rgba(
		255,
		255,
		255,
		0.4
	); // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #ffbd00; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	// =================================================================
}
