.cn {
	position: relative;
	display: flex;
	justify-content: center;
	font-family: 'Gochi Hand';
	@include adaptiveValue('font-size', 24, 18);
	@include adaptiveValue('column-gap', 11, 6);

	@media (max-width: $mobile) {
		margin-top: -6.208333%; /* 40/768 */
		width: 80%;
	}

	@media (min-width: $mobile) {
		position: absolute;
		bottom: 9%;
		left: 50%;
		transform: translate(-50%, 0);
	}

	&:has(.cn__button:hover) span {
		color: #ea6b24;
	}

	// .cn__wrp
	&__wrp {
		border-radius: toRem(12);
		border: toRem(2) solid #000;
		background: #e9b7d3;
		box-shadow: 0 toRem(5) 0 0 #000;
		padding: toRem(7);
		@include adaptiveValue('padding', 7, 4);
	}

	p {
		border-radius: toRem(7);
		border: toRem(2) solid #000;
		background: #fff;
		padding-top: toRem(10);
		padding-bottom: toRem(10);
		@include adaptiveValue('padding-left', 30, 5);
		@include adaptiveValue('padding-right', 30, 5);
	}

	// .cn__address
	&__address {
		color: #000;
		text-align: center;
		-webkit-line-clamp: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
		transition: color 0.2s;
		will-change: color;
		line-height: 120%; /* 28.8px */
	}
	// .cn__button
	&__button {
		border-radius: toRem(12);
		border: toRem(2) solid #000;
		background: #e9b7d3;
		box-shadow: 0 toRem(5) 0 0 #000;
		padding: toRem(7);
		@include adaptiveValue('padding', 7, 4);
		@media (any-hover: hover) {
			&:hover svg path {
				// fill: #e5b0f9;
				fill: #ea6b24;
			}
		}

		span {
			display: inline-block;
			border-radius: toRem(7);
			border: toRem(2) solid #000;
			background: #fff;
			padding: toRem(5);
			padding-bottom: toRem(0);
			padding-top: toRem(0);
		}
		svg {
			position: relative;
			top: toEm(5, 24);
			z-index: 2;
			aspect-ratio: 1;
			width: toEm(39, 24);

			path {
				fill: #000;
				will-change: fill;
				transition: fill 0.4s;
			}
		}
	}
	// .cn__hint
	&__hint {
		position: absolute;
		display: flex;
		top: 0;
		left: 50%;
		padding: toRem(15) toRem(20) toRem(10) toRem(20);
		z-index: 100;
		border-radius: toRem(8);
		white-space: nowrap;
		pointer-events: none;
		transform: translate(-50%, -100%) scale(0.5);
		opacity: 0;
		transition:
			transform 0.3s,
			opacity 0.3s;

		color: #000;
		font-size: 100%;

		&,
		&::after {
			background-color: #fff;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 90%);
			width: 12%;
			aspect-ratio: 1/ 0.55;
			clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
		}

		.active & {
			transform: translate(-50%, -100%) scale(1);
			opacity: 1;
		}
	}
}
