// ===============
// colors palette
// ===============
:root {
	// Gradients
	// =================================================================
	--blueBright-gr: linear-gradient(230deg, #192230 32.58%, rgba(20, 55, 99, 0.76) 55.63%, rgba(17, 66, 126, 0.62) 71.77%, rgba(14, 77, 153, 0.49) 87.96%, rgba(25, 34, 48, 100) 100%);
	--blueDark-gr: linear-gradient(230deg, #12161C 47.49%, rgba(15, 41, 73, 0.80) 57.86%, rgba(10, 76, 154, 0.45) 67.72%, rgba(8, 90, 188, 0.30) 80.68%, rgba(5, 105, 222, 0.14) 92.45%, rgba(3, 119, 255, 0.00) 100%);

	--redBright-gr: linear-gradient(258deg, #192230 32.58%, rgba(70, 28, 39, 0.80) 45.89%, rgba(144, 18, 25, 0.48) 67.44%, rgba(219, 8, 10, 0.16) 89.35%, rgba(255, 3, 3, 0.00) 100%);
	--redDark-gr: linear-gradient(258deg, #12161C 32.58%, rgba(49, 20, 25, 0.87) 41.38%, rgba(80, 17, 21, 0.74) 50.34%, rgba(142, 12, 15, 0.48) 62.62%, rgba(190, 8, 10, 0.27) 75.62%, rgba(225, 6, 6, 0.12) 87.62%, rgba(255, 3, 3, 0.00) 100%);

	--dark-gr: linear-gradient(269deg, #192230 0%, #12161c 100%);
	// Background colors (Фонові кольори):
	// =================================================================
	--main-bg: #12161c;

	// Text colors (Текстові кольори):
	// =================================================================
	--mainColor: #fff;
	--red: #ff4a4a;
	--blue: #377de5;
	--gray: rgba(255, 255, 255, 0.21);
	// =================================================================
}
