// ===============
// colors palette
// ===============
:root {
	--headH: 118px;

	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #F5F5F2; // Site main color - (Основний колір сайту)
	// --secondary: #94d2bd; // Site secondary color - (Додатковий колір сайту)
	// --accent: #0090c1; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	// --inverse: #ffff3f; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #e7e8e3; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #65665c; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #cf6f49; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	--bg-inverse: #939878; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.
	--bg-third: #fff;
	--bg-fourth: #FAE8E1;

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #65665c; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #737680; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #2a2c1f; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-inverse: #fff; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	--text-third: #CF6F49;
	// =================================================================
}
