@font-face {
	font-family: 'LuckiestGuy';
	font-display: swap;
	src: url('../fonts/LuckiestGuy.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Super Webcomic Bros';
	font-display: swap;
	src: url('../fonts/Super Webcomic Bros.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SELINCAH';
	font-display: swap;
	src: url('../fonts/SELINCAH.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Super Webcomic Italic';
	font-display: swap;
	src: url('../fonts/Super Webcomic Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
