.work {
	@include adaptiveValue("padding-bottom", 186, 60);
	// .work__container
	&__container {
	}
	// .work__title
	&__title {
		@include adaptiveValue("margin-bottom", 87, 30);
	}
	// .work__products
	&__products {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(276), 1fr));
		@include adaptiveValue("column-gap", 38, 20);
		@include adaptiveValue("row-gap", 36, 20);

	}
	// .work__item
	&__item {
	}
	// .work__image
	&__image {
		aspect-ratio: 335 / 217;
		border-top-right-radius: toRem(15);
		&:not(:last-child) {
			margin-bottom: toRem(23);
		}
	}
}
.item-work {
	padding: toRem(18) toRem(18) toRem(37) toRem(18);
	background-color: var(--bg-third);
	border-radius: 0 toRem(30) 0 toRem(30);

	// .item-work__title
	&__title {
		@extend %orbit;
		font-size: toRem(20);
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: toEm(8, 20);
		}
	}
	// .item-work__text
	&__text {
		font-weight: 400;
		@media (max-width: $mobile) {
			font-size: toRem(14);
		}
		&:not(:last-child) {
			margin-bottom: toRem(22);
		}
		p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
	// .item-work__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(13);
	}
	// .item-work__link
	&__link {
	}
}
