//  ROOT ========================================================================================================================================================
:root {
	// Site colors (Кольори сайту):
	// =================================================================

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #fee002; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #c93d19; // BG secondary background color - (Додатковий фоновий колір сайту)

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #000; // Text primary text color - (Основний текстовий колір сайту)

	--box-shadow: -4.491px 3.593px 0px 0px #000;

	--border: 2px solid #000;

	--font-family-sec: 'Paygon', sans-serif;
}
