<footer data-fls-footer data-fls-watcher="navigator" data-fls-watcher-threshold="0.8" data-fls-watcher-once
	class="footer">
	<div class="footer__wrapper">
		<div class="footer__container">
			<div class="footer__left">
				<div class="footer__top top-footer">
					<div class="top-footer__column">
						<a href="#" target="_blank" class="top-footer__link">
							HOW TO BUY
						</a>
						<a href="#" target="_blank" class="top-footer__link">
							ROADMAP
						</a>
						<a href="#" target="_blank" class="top-footer__link">
							TOKENOMICS
						</a>
					</div>
					<div class="top-footer__column">
						<a href="#" target="_blank" class="top-footer__link">
							Telegram
						</a>
						<a href="#" target="_blank" class="top-footer__link">
							Twitter [<span class="red">x</span>]
						</a>
					</div>
				</div>
				<div class="footer__bottom">
					<div data-fls-tippy-content="Copied" data-clipboard class="footer__address">
						<p>
							adress: <span data-clipboardEl>TRStG5LKhCFmVzwdKETp1SQHk18UPuzjyX</span>
						</p>
						<button type="button" aria-label="copy text" class="footer__button">
						</button>
					</div>
					<div class="footer__copy">
						DR. CAT © 2024
					</div>
				</div>
			</div>
			<div class="footer__img">
				<img src="@img/footer/cat.png" loading="lazy" alt="Image">
			</div>
		</div>
	</div>
</footer>