// Заголовки, загальні БЕМ блоки та інше...

.title {
	color: #fff;
	transition: all 0.3s;
	font-family: "Lexend Deca";
	@include adaptiveValue("font-size", 40, 24, 0, 1026, 320);
	font-style: normal;
	line-height: 120%; /* 48/40 */
	letter-spacing: toRem(-1.5);
	&--min {
		@include adaptiveValue("font-size", 30, 22, 0, 1440, 320);
	}
	&--big {
		@include adaptiveValue("font-size", 60, 36, 0, 1440, 320);
		line-height: 1.1; /* 66/60 */
	}
}
.text {
	display: inline-block;
	line-height: 1.5; /* 24/16 */
}

// Заклик до дії
.book {
	letter-spacing: toRem(-0.4);
	color: #fff;
	font-weight: 500;
	position: relative;
	padding-top: toRem(5);
	padding-bottom: toRem(5);
	padding-left: toRem(3);
	padding-right: toRem(3);
	line-height: 1.31; /* 21/16 */
	span {
		position: relative;
		z-index: 2;
	}
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #f95454;
		height: toRem(2);
		width: 100%;
		transition: all 0.3s;
	}
	@media (any-hover: hover) {
		&:hover {
			&::after {
				top: 0;
				height: 100%;
			}
		}
	}
}
