@font-face {
	font-family: This Font Looks Awesome;
	font-display: swap;
	src: url("../fonts/This Font Looks Awesome.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: valium;
	font-display: swap;
	src: url("../fonts/valium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
