//====================================================================================================
.footer {
	background-color: var(--bg-primary);
	display: flex;
	align-items: flex-end;
	padding-bottom: toRem(50);
	padding-top: toRem(50);
	@include adaptiveValue('padding-bottom', 50, 25, 0, $maxWidthContainer, 768);
	@include adaptiveValue('padding-top', 50, 25, 0, $maxWidthContainer, 768);

	// .footer__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 auto;
		gap: toRem(30);
		justify-content: space-between;
		align-items: center;

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .footer__social
	&__social {
	}

	// .footer__copy
	&__copy {
		color: var(--text-sixth);
	}
}

//====================================================================================================
