.cn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: toRem(8);
	padding-bottom: toRem(8);
	visibility: hidden;
	opacity: 0;
	will-change: transform, visibility, opacity;
	transform: translate(0, toRem(40));

	@media (max-width: $mobile) {
		&._watcher-view {
			animation: toTop40 0.4s 0.2s forwards;
		}
	}
	@media (min-width: $mobile) {
		&._watcher-view {
			animation: toTop40 0.4s 0.6s forwards;
		}
	}

	@include adaptiveValue('padding-left', 93, 15);
	@include adaptiveValue('padding-right', 91, 15);
	@include adaptiveValue('font-size', 40, 22);

	@media (min-width: $mobile) {
		max-width: toRem(677);
	}

	@media (max-width: $mobile) {
		max-width: toRem(450);
	}

	&:has(.cn__button:hover) span {
		color: #7ee89f;
	}

	div {
		color: #020101;
		font-weight: 700;
		line-height: normal;
		letter-spacing: toRem(2.8);
		@include adaptiveValue('padding-right', 32, 16);
		@include adaptiveValue('font-size', 40, 22);
	}

	// .cn__address
	&__address {
		text-align: center;
		// -webkit-line-clamp: 1;
		// display: -webkit-box;
		// -webkit-box-orient: vertical;
		// overflow: hidden;
		// text-overflow: ellipsis;
		// word-break: break-all;
		transition: color 0.2s;
		will-change: color;
		color: #020101;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: toRem(-1.25);
		border-left: toRem(3) solid #020101;
		border-right: toRem(3) solid #020101;
		flex-grow: 1;
		@include adaptiveValue('font-size', 32, 18);
		@include adaptiveValue('padding-right', 32, 8);
		@include adaptiveValue('padding-left', 32, 8);
	}
	// .cn__button
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue('padding-left', 32, 8);
		@media (any-hover: hover) {
			&:hover svg path {
				fill: #7ee89f;
			}
		}
		svg {
			@include adaptiveValue('width', 42, 35);

			path {
				fill: #020101;
				will-change: fill;
				transition: fill 0.2s;
			}
		}
	}
	// .cn__hint
	&__hint {
		position: absolute;
		display: flex;
		top: 0;
		left: 50%;
		padding: toRem(15) toRem(20) toRem(10) toRem(20);
		z-index: 100;
		border-radius: toRem(8);
		white-space: nowrap;
		pointer-events: none;
		transform: translate(-50%, -100%) scale(0.5);
		opacity: 0;
		transition:
			transform 0.3s,
			opacity 0.3s;

		color: #fff;
		font-size: 70%;

		&,
		&::after {
			background-color: #7ee89f;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 90%);
			width: 12%;
			aspect-ratio: 1/ 0.55;
			clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
		}

		.active & {
			transform: translate(-50%, -100%) scale(1);
			opacity: 1;
		}
	}
}
