//====================================================================================================
.footer {
	border: toRem(8) solid var(--text-primary);
	background: var(--gr-primary);
	box-shadow: 0 toRem(9) 0 0 var(--text-primary);
	@include adaptiveValue('padding-top', 100, 50, 0, $containerWidth, 768);
	@include adaptiveValue('padding-bottom', 71, 50, 0, $containerWidth, 768);

	// .footer__container
	&__container {
		position: relative;
	}

	// .footer__top
	&__top {
		position: relative;
		&:not(:last-child) {
			margin-bottom: toRem(32);
			@include adaptiveValue('padding-bottom', 50, 30);
			// border-bottom: toRem(2) solid rgba(255, 255, 255, 0.2);

			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: toRem(2);
				bottom: 0;
				left: 50%;
				background-color: rgba(255, 255, 255, 0.2);

				._watcher-view & {
					transition: all 0.6s ease 2.8s;
					width: 100%;
					left: 0;
				}
			}
		}

		@media (min-width: toEm(575)) {
			display: flex;
			gap: toRem(20);
		}
	}

	// .footer__img
	&__img {
		display: none;

		@media (min-width: toEm(575)) {
			display: block;
			flex: 0 0 flBasis(2, 20, 485); /* 485/1264 */
			position: relative;
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			img {
				position: absolute;
				aspect-ratio: 510 / 553;
				@include adaptiveValue('width', 510, 405);
				transform: translate(0, -26%);
				top: 0;
				left: 26%;
				z-index: 2;
				filter: drop-shadow(toRem(3) toRem(3) toRem(20) var(--text-primary));
				transform: translate(0, 400%);

				._watcher-view & {
					transition: transform 1.2s ease 3.7s;
					transform: translate(0, -26%);
				}

				@media (max-width: $pc) {
					@include adaptiveValue('left', 71, -40, 0, $containerWidth, 768);
					@include adaptiveValue('top', 0, 40, 0, 992, 768);
				}
			}
		}
	}
	// .footer__decor
	&__decor {
		position: absolute;
		aspect-ratio: 916 / 891;
		width: toRem(916);
		top: 50%;
		right: -51%;
		transform: translate(0, -55%);
		z-index: 1;
		mix-blend-mode: hue;
		opacity: 0;

		._watcher-view & {
			transition: opacity 0.3s ease 3.7s;
			opacity: 1;
		}

		@media (max-width: $pc) {
			@include adaptiveValue('right', -245, -290, 0, $containerWidth, 768);
			// @include adaptiveValue('top', 0, 40, 0, 992, 768);
		}
	}
	// .footer__content
	&__content {
		@media (min-width: toEm(575)) {
			max-width: toRem(724);
			position: relative;
			z-index: 2;
		}
	}
	// .footer__header
	&__header {
		display: flex;
		align-items: center;
		gap: toRem(20);
		justify-content: space-between;

		@media (max-width: $mobileSmall) {
			align-items: flex-start;
			flex-direction: column;
		}
		@media (max-width: $mobile) {
			gap: toRem(15);
		}
		@media ((min-width: toEm(575)) and (max-width: $mobile)) {
			flex-direction: column;
			align-items: flex-start;
		}
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 34, 25);
		}
	}
	// .footer__title
	&__title {
		font-family: 'AhsingRegular', sans-serif;
		position: relative;
		width: fit-content;
		@include adaptiveValue('font-size', 120, 45);
		line-height: 1;
		color: var(--text-secondary);
		opacity: 0;

		._watcher-view & {
			transition: opacity 2s;
			opacity: 1;
		}
		@media (max-width: toEm(575)) {
			grid-column: 1;
		}
		svg {
			position: absolute;
			width: toEm(163, 252);
			aspect-ratio: 1 / 1;
			right: -2%;
			top: -30%;
			transform: scale(0);
			opacity: 0;

			._watcher-view & {
				transition: all 0.4s ease 1.4s;
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	// .footer__text
	&__text {
		color: rgba(255, 255, 255, 0.4);
		font-family: 'Kanit', sans-serif;
		font-size: toRem(16);
		line-height: 1.4;
		max-width: toRem(412);
		opacity: 0;

		._watcher-view & {
			transition: opacity 1.5s ease 0.7s;
			opacity: 1;
		}
	}
	// .footer__social
	&__social {
	}
	// .footer__copy
	&__copy {
		color: rgba(255, 255, 255, 0.4);
		font-family: 'Kanit', sans-serif;
		@include adaptiveValue('font-size', 20, 16);
		line-height: 1.4;
		opacity: 0;

		._watcher-view & {
			transition: all 0.3s ease 3.4s;
			opacity: 1;
		}
	}
}
.social-footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include adaptiveValue('column-gap', 5, 10);

	@media (max-width: toEm(575)) {
		justify-content: space-between;
	}
	// .social-footer__link
	&__link {
		@include adaptiveValue('width', 74, 40);
		aspect-ratio: 1 / 1;
		background-color: var(--bg-secondary);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: toRem(6) solid var(--text-primary);
		box-shadow: toRem(2) toRem(4) 0 toRem(1.5) var(--text-primary);
		flex-shrink: 0;
		transform: translate(0, 300%);
		opacity: 0;
		transition:
			background-color 0.3s,
			box-shadow 0.3s;

		@media (max-width: toEm(575)) {
			border: toRem(3) solid var(--text-primary);
			box-shadow: toRem(1) toRem(2) 0 toRem(1.5) var(--text-primary);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--bg-accent);
			}
			&:active {
				box-shadow: 0 0 0 toRem(1.5) var(--text-primary);
			}
			&:hover svg circle {
				fill: var(--bg-accent);
			}
		}
		&:nth-child(1) {
			._watcher-view & {
				animation: socialFooter 0.2s ease 1.8s forwards;
			}
		}
		&:nth-child(2) {
			._watcher-view & {
				animation: socialFooter 0.2s ease 2s forwards;
			}
		}
		&:nth-child(3) {
			._watcher-view & {
				animation: socialFooter 0.2s ease 2.2s forwards;
			}
		}
		&:nth-child(4) {
			._watcher-view & {
				animation: socialFooter 0.2s ease 2.4s forwards;
			}
		}
		&:nth-child(5) {
			._watcher-view & {
				animation: socialFooter 0.2s ease 2.6s forwards;
			}
		}

		@keyframes socialFooter {
			100% {
				transform: translate(0, 0);
				opacity: 1;
			}
		}

		svg {
			@include adaptiveValue('height', 59, 20);
			@include adaptiveValue('width', 59, 20);

			circle {
				fill: #34abde;
				transition: fill 0.3s;
			}
		}
	}
}

//====================================================================================================
