//  ROOT ========================================================================================================================================================
:root {
	--standart-gradient: radial-gradient(
		142.56% 119.72% at 15.2% 6.17%,
		#161118 19.27%,
		#35344d 52.88%,
		#090808 100%
	);

	--form-standart-gradient: linear-gradient(100deg, rgba(0, 0, 0, 0.2) 7.27%, rgba(58, 62, 179, 0.13) 90.54%);

	--private-gradient: radial-gradient(
			85.59% 72.18% at 15.2% 6.17%,
			#111010 19.27%,
			#2c3243 63.54%,
			#090808 100%
		),
		#fff;
	--form-standart-gradient: linear-gradient(101deg, rgba(0, 0, 0, 0.2) 7.27%, rgba(58, 62, 179, 0.13) 90.54%);
}
