// ===============
// colors palette
// ===============
:root {
	@include adaptiveValue('--headH', 113, 80);
	// Site colors (Кольори сайту):
	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #e5f4f6; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #f5f5f5; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #656293; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	--bg-hv: #2bc0d4;

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: rgba(21, 21, 21, 0.6); // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #000; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-third: #151515;
	--text-fourth: #fff;
	--text-fifth: #a9a9aa;
	--text-accent: #656293; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	// --text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================
}
