h2 {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.fall {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-100vh) scaleY(1.2);
}
.fall-buy {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-100vh);
}

.menu-open-bg {
	pointer-events: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(toRem(6));
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	.menu-open & {
		opacity: 1;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: toRem(16);
	border: toRem(4) solid #000;
	background: linear-gradient(180deg, #fdf9d4 21.78%, #fbdca3 100%);
	padding: toRem(8);

	@media (any-hover: hover) {
		&:hover span {
			box-shadow: 0 toRem(10) 0 0 rgba(217, 49, 2, 0.23) inset;
			letter-spacing: 0.03em;
		}
	}

	span {
		width: 100%;
		position: relative;
		display: block;
		text-align: center;
		border-radius: toRem(12);
		background: linear-gradient(180deg, #ffab10 -22.89%, #ff5410 164.47%);
		box-shadow: 0 toRem(-17) 0 0 rgba(217, 49, 2, 0.23) inset;
		padding: toRem(10) toRem(24);
		color: #421a02;
		-webkit-text-stroke-width: toEm(2, 24);
		paint-order: stroke fill;
		-webkit-text-stroke-color: #ffb64b;
		font-weight: 700;
		line-height: normal;
		font-size: toRem(24);
		transition:
			box-shadow 0.2s,
			letter-spacing 0.2s;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: toRem(12);
		text-transform: uppercase;

		svg {
			width: 10%;
			flex-shrink: 0;
		}

		.header & {
			min-width: toRem(188);
			@include adaptiveValue('font-size', 24, 20, 2, $containerWidth, 991.98);
		}

		.what & {
			@include adaptiveValue('font-size', 40, 17, 2, 1920, 991.98);
			@include adaptiveValue('font-size', 32, 14, 1, 991.98, 479.98);
			@include adaptiveValue('min-height', 70, 60, 1, $containerWidth, 991.98);
		}
	}
	// .button--black
	&--black {
		@media (any-hover: hover) {
			&:hover span {
				box-shadow: 0 toRem(13) 0 0 rgba(0, 0, 0, 0.23) inset;
			}
		}
		span {
			-webkit-text-stroke-width: 0;
			paint-order: normal;
			-webkit-text-stroke-color: transparent;
			color: #fdf9d4;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
			border-radius: toRem(14);
			background: linear-gradient(180deg, #536269 -22.89%, #000 164.47%);
			box-shadow: 0 toRem(-20) 0 0 rgba(0, 0, 0, 0.23) inset;
		}
	}
	// .button--svg
	&--svg {
	}
	// .button--blue
	&--blue {
		@media (any-hover: hover) {
			&:hover span {
				box-shadow: 0 toRem(13) 0 0 rgba(2, 135, 217, 0.23) inset;
				// letter-spacing: 0.03em;
			}
		}
		span {
			color: #fbfbfb;
			-webkit-text-stroke-width: 0;
			paint-order: normal;
			-webkit-text-stroke-color: transparent;
			background: linear-gradient(180deg, #57e0ff -5%, #158aff 154.46%);
			box-shadow: 0 toRem(-20) 0 0 rgba(2, 135, 217, 0.23) inset;
		}
	}
}

.social-block {
	display: flex;
	gap: toRem(22);

	.footer & {
		gap: toRem(10);
	}
	// .social-block--rotate
	&--rotate {
		@media (min-width: $mobileSmall) {
			transform: rotate(4.96deg);
		}
	}
	// .social-block__link
	&__link {
	}
}
.social-link {
	border-radius: toRem(16);
	border: toRem(9) solid #000;
	background: linear-gradient(180deg, #fdf9d4 21.78%, #fbdca3 100%);
	@include adaptiveValue('padding', 10, 5);
	@include adaptiveValue('border-width', 9, 4);

	@media (any-hover: hover) {
		&:hover span {
			transform: scale(1.1);
		}
	}

	.footer & {
		padding: toRem(6);
		border-radius: toRem(18);
		border: toRem(5) solid #000;
	}

	span {
		display: block;
		border-radius: toRem(12);
		background: linear-gradient(180deg, #536269 -22.89%, #000 164.47%);
		box-shadow: 0 toRem(-17) 0 0 rgba(0, 0, 0, 0.23) inset;
		display: flex;
		justify-content: center;
		align-items: center;
		will-change: transform;
		transition: transform 0.2s;
		@include adaptiveValue('padding', 10, 5);

		svg {
			@include adaptiveValue('width', 49, 40);
			.footer & {
				@include adaptiveValue('width', 39, 30);
			}
		}
	}

	&:nth-child(2) {
		span {
			background: linear-gradient(180deg, #57e0ff -5%, #158aff 154.46%);
			box-shadow: 0 toRem(-17) 0 0 rgba(2, 135, 217, 0.23) inset;
		}
	}
}

.title-block {
	position: relative;
	width: 82.5%;

	&._watcher-view .title-block__img-title img {
		animation: titlh2 0.4s ease 0.2s forwards;
	}
	&._watcher-view .title-block__bg-title {
		animation: vibro 0.1s ease 0.505s forwards;
	}
	&._watcher-view .title-block__decor img {
		animation: vibroScale 0.2s ease 0.6s forwards;
	}

	// .title-block__bg-title
	&__bg-title {
		pointer-events: none;
		position: absolute;
		width: 112%;
		height: 84%;
		bottom: -8%;
		left: -5%;
		border-radius: toRem(1000);
		border: toRem(7) solid #000;
		background: linear-gradient(180deg, #42c7fb 0%, #4261fb 148.48%);
		box-shadow: 0 toRem(4) 0 0 #000;
		padding: toRem(10);
		transform: translate(0, 0);
		will-change: transform;
		z-index: 2;

		@include adaptiveValue('padding', 10, 6);
		@include adaptiveValue('border-width', 7, 4);

		.roadmap & {
			width: 109.5%;
			height: 71.5%;
			bottom: 12%;
		}

		.tokenomiks__content & {
			width: 106.5%;
			height: 124.5%;
			bottom: -21%;
			left: -2.9%;
		}

		&::after {
			position: relative;
			z-index: 1;
			content: '';
			width: 100%;
			height: 100%;
			border-radius: toRem(1000);
			border: toRem(7) solid #000;
			background: linear-gradient(180deg, #fff 0%, #fffcab 140.1%);
			box-shadow:
				0 toRem(2) 0 0 #000,
				0 0 toRem(4) 0 rgba(0, 0, 0, 0.25) inset;

			@include adaptiveValue('border-width', 7, 4);
		}
	}

	// .title-block__decor
	&__decor {
		pointer-events: none;
		position: absolute;
		width: 112%;
		height: 84%;
		bottom: -8%;
		left: -5%;
		img {
			width: 28%;
			object-fit: cover;
			position: absolute;
			top: -63%;
			right: 25%;
			z-index: 0;
			transform: scale(0);
			will-change: transform;

			.roadmap & {
				width: 122%;
				aspect-ratio: 1155 / 364;
				top: -66%;
				right: -10%;
			}

			.tokenomiks__content & {
				aspect-ratio: 578 / 330;
				width: 82%;
				top: -122%;
				right: auto;
				left: -8%;
			}
		}
	}

	// .title-block__img-title
	&__img-title {
		img {
			transform: translate(0, 20%) scale(0.8);
			z-index: -1;
			position: relative;
			width: 100%;
			object-fit: cover;
		}
	}
}

.line {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: nowrap;

	// .line__wrp
	&__wrp {
		aspect-ratio: 1920 / 98;
		position: relative;
		animation: run 10s infinite linear;
		@include adaptiveValue('min-width', 1920, 320);

		&:not(:first-child) img {
			left: -1%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .line--top
	&--top {
		margin-top: toRem(-50);
		@include adaptiveValue('margin-top', -50, 0);
	}

	// .line--bottom
	&--bottom {
	}
}
