%ic {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-check:before {
	content: '\e904';
}
._icon-arr-right:before {
	content: '\e900';
}
._icon-calendar:before {
	content: '\e901';
}
._icon-exchange-arr:before {
	content: '\e902';
}
._icon-sub-arr:before {
	content: '\e903';
}
