@font-face {
  font-family: 'Fredoka One';
  font-display: swap;
  src: url('../fonts/Fredoka One.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Retro Mango DEMO';
  font-display: swap;
  src: url('../fonts/Retro Mango DEMO.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Standie';
  font-display: swap;
  src: url('../fonts/Standie.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
