@font-face {font-family: Crog;font-display: swap;src: url("@fonts/Crog-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: Crog;font-display: swap;src: url("@fonts/Crog-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: Crog;font-display: swap;src: url("@fonts/Crog-ExtraBold.woff2") format("woff2");font-weight: 800;font-style: normal;}
@font-face {font-family: Crog;font-display: swap;src: url("@fonts/Crog-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: Crog;font-display: swap;src: url("@fonts/Crog-Black.woff2") format("woff2");font-weight: 900;font-style: normal;}
