// ===============
// colors palette
// ===============
:root {
	// @include adaptiveValue('--headH', 113, 80);

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #161010; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #fff; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #e84341; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	--bg-inverse: #ffebef; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #000; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #fff; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-hv: #e84341;
	// --text-accent: #e8eddf; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	// --text-inverse: #e8eddf; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================

	// gradients
	--gr-primary: linear-gradient(270deg, #280808 0%, #8e1d1c 33.23%, #280808 100%);
}
