.hero {
  background: url("../img/hero/bg.png") center/cover no-repeat;
}
.hero__container {
  min-height: 100svh;
  padding-top: toRem(120);
  padding-bottom: toRem(25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__header {
  position: relative;
}
.hero__title {
  color: #f4f7ff;
  text-align: center;
  font-family: Gilroy;
  font-size: 120px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 132px */
  text-transform: uppercase;
}
.label {
  position: absolute;
}