.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: auto;
			height: auto;
			right: 0;
			transform: rotate(-90deg);
			transform-origin: top right;
			overflow: auto;
			background-color: #fd86ff;
			padding: toRem(45) toRem(15) toRem(45) toRem(60);
			border-radius: 50% 0 0 70%;
			box-shadow: toRem(3) toRem(3) 0 0 #000;
			@include adaptiveValue('top', 150, 140, 1, 991.98, 320);

			@keyframes menu {
				25% {
					transform: rotate(10deg);
				}
				100% {
					transform: rotate(0);
				}
			}

			@keyframes close {
				0% {
					transform: rotate(0);
				}
				25% {
					transform: rotate(10deg);
				}
				100% {
					transform: rotate(-90deg);
				}
			}
			.menu-close & {
				animation: close 1.2s ease 1 forwards;
			}
			.menu-open & {
				animation: menu 1.2s ease 1 forwards;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background: #fd86ff;
		padding: toRem(12) toRem(7);
		gap: toRem(0.5);

		@media (min-width: $tablet) {
			border: toRem(2) solid #000;
			box-shadow: toRem(1) toRem(3) 0 0 #000;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: toRem(30);
			width: 100%;
		}
	}
	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
		color: #000;
		font-family: 'GoodDog New';
		line-height: 130%; /* 36.4px */
		text-transform: uppercase;
		padding: toRem(10) toRem(40);
		border: toRem(2) solid #000;
		background: #26ffd0;
		box-shadow: toRem(1) toRem(3) 0 0 #000;
		transition:
			color 0.2s,
			transform 0.2s;
		will-change: color, transform;
		font-size: toRem(28);

		@include adaptiveValue('padding-left', 40, 30, 2, $containerWidth, 991.98);
		@include adaptiveValue('padding-right', 40, 30, 2, $containerWidth, 991.98);

		.menu__item:nth-child(odd) & {
			transform: rotate(1.96deg);
		}
		.menu__item:nth-child(even) & {
			transform: rotate(-2.3deg);
		}

		@media (any-hover: hover) {
			.menu__item:hover & {
				transform: rotate(0deg);
				color: #ff212e;
			}
		}

		&._navigator-active {
			background-color: #4adbff;
		}

		@media (max-width: $tablet) {
			font-size: toRem(24);
			padding-top: toRem(10);
			padding-bottom: toRem(10);
		}

		// .menu__link--buy
		&--buy {
			background-color: #ff212e;

			@media (any-hover: hover) {
				.menu__item:hover & {
					transform: rotate(0deg);
					color: #fff;
				}
			}
		}
	}
}

//Icons========================================================================================================================================================

// 50px standart animation

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(50);
		height: toRem(50);
		z-index: 5;
		background-color: #fd86ff;
		border: toRem(2) solid #000;
		box-shadow: toRem(1) toRem(3) 0 0 #000;
		transform: rotate(-4deg);
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: toRem(10);
			position: absolute;
			width: calc(100% - toRem(20));
			height: toRem(3);
			background-color: #000;
			backface-visibility: hidden;
		}
		&::before {
			top: toRem(12);
		}
		&::after {
			bottom: toRem(12);
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				opacity: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1.5));
				transform: rotate(45deg);
			}
		}
	}
}
