// ===============
// colors palette
// ===============
:root {
	@include adaptiveValue('--headH', 113, 80);
	// Background colors (Фонові кольори):
	// =================================================================
	// --bg-primary: #242423; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #1e2424; // BG secondary background color - (Додатковий фоновий колір сайту)
	// --bg-accent: ; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
	// --bg-inverse: #2d00f7; // BG inverse - наприклад, може використовуватися для налаштування кольору фону на світлому тексті.
	--bg-accent_2: #5e6d6d;
	--bg-accent_3: #3abe6f;
	--bg-accent_4: #fff;
	--bg-accent_5: #fafafa;
	--bg-accent_6: #73c83f;
	--bg-hv: #43c56f;
	--bg-hv_2: #5a6069;
	--bg-hv_3: #86ef64;

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: rgba(0, 0, 0, 0.6); // Text primary text color - (Основний текстовий колір сайту)
	--text_2: #275d36; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent: #122c19; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-accent_2: rgb(
		51,
		123,
		71
	); // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
	--text-icons: #39c255;
	--text-inverse: #fff; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
	// =================================================================

	// Gradients

	--gr-accent: linear-gradient(92deg, #2cb570 -28.74%, #43c56f 34.53%, #43e040 99.14%);
	// --gr-accent: linear-gradient(rgba(36, 163, 99, 1), rgba(75, 221, 72, 1))
	// =================================================================
}
